:root {
    --color-purple: #7A00E6;
    --color-white: #fff;
    --color-black: #111111;
    --color-red: crimson;
    --color-button: #00CED1;
    --color-button-hover: #00A5A5;
    --color-loading: #f3f3f3;
    --color-loading-spin: #007bff;
    --sombreado-roxo:rgba(122, 0, 230, 0.6);
    --sombreado-branco: rgba(255, 255, 255, 0.6);
    --color-subtitulo: rgb(134, 217, 255);
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--color-purple);
}

.main-header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    color: var(--color-purple);
    text-decoration: none;
}

main {
    text-align: center;
    color: var(--color-white);
    padding: 20px;
}

.welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 30px;
}

.highlight {
    font-weight: bold;
    color: var(--color-subtitulo); 
}

.cards {
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: var(--color-white);
    border-radius: 20px;
}

.card img {
    width: 50%;
    object-fit: contain;
}

.card p {
    margin-top: 10px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 5.5vw, 2em);
    letter-spacing: 0px;
    color: var(--color-black);
}

.cards a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-purple);
    z-index: 1;
}

.spinner {
    border: 8px solid var(--color-loading);
    border-top: 8px solid var(--color-loading-spin);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

#loading-screen.hidden {
    display: none;
}

#loading-screen p {
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--color-white);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 695px) {
    .cards {
        gap: 10px;
    }

    .card {
        max-width: 250px;
        aspect-ratio: 1/1;
    }

    .card p {
        font-size: 3.2vh;
    }
}
